/******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/
/* line 15, ../scss/_print.scss */
* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important; }

/* line 23, ../scss/_print.scss */
a, a:visited {
  color: #444 !important;
  text-decoration: underline; }
  /* line 28, ../scss/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")"; }
  /* line 33, ../scss/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")"; }

/* line 40, ../scss/_print.scss */
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: ""; }

/* line 44, ../scss/_print.scss */
pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid; }

/* line 49, ../scss/_print.scss */
thead {
  display: table-header-group; }

/* line 53, ../scss/_print.scss */
tr, img {
  page-break-inside: avoid; }

/* line 57, ../scss/_print.scss */
img {
  max-width: 100% !important; }

@page {
  margin: 0.5cm; }

/* line 65, ../scss/_print.scss */
p, h2, h3 {
  orphans: 3;
  widows: 3; }

/* line 71, ../scss/_print.scss */
h2,
h3 {
  page-break-after: avoid; }

/* line 80, ../scss/_print.scss */
.sidebar,
.page-navigation,
.wp-prev-next,
.respond-form,
nav {
  display: none; }
