.ds_Store
*.gz
*.tar
*.zip
*.rar

.htaccess
wp-config.php

wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/

wp-content/db.php
wp-content/object-cache.php
wp-content/w3tc-config/

*.log

sitemap.xml
sitemap.xml.gz

