/*********************
NAVIGATION STYLES
*********************/

// NAVIGATION

/* all nav lists have a .nav class applied via the wp_menu function,
so we can easily write one group of styles and keep our css cleaner 
and more scalable. */
 
 
// remember: mobile first 

.nav,
.sub-menu {
    margin: 0;
    clear: both;
	@include transition(all 0.3s ease-out);
	
    // after js has loaded
    .js & {
    	overflow: hidden;
    	max-height: 0;
    }	
    
    // selected
    &.active {
    	max-height: 160px;
    	overflow: visible;
    	background: white;
    }
}

.nav li {
    display: block;
    margin: 0;
    white-space: nowrap;
	a {
		display: block;
		text-decoration: none;
    	color: $anchor-color;
    	padding: 0.8em;
    	border-bottom: 1px solid $base8;
    	position: relative;
	}
}

.menu-item-has-children > a {
    &:after {
    	content: '+';
    	position: absolute;
    	top: 0;
    	right: 0;
    	display: block;
    	font-size: 1.5em;
    	padding: 0.25em 0.5em;
    }
    &.active:after {
    	content: "-";
    }
}

// active state
.nav.active, 
.js .sub-menu.active {
	max-height: 55em;
}




// breakpoint: switch to horizontal layout
@include breakpoint(md) {

    .nav {
        li {
            display: inline-block; 
            margin-right: -2px; // remove space caused by inline-block
        }
        
        // after js has loaded
        .js & {
            max-height: none;
        }
        
    }
    
	.js .nav, 
	.js .sub-menu {
		max-height: none;
		overflow: visible;
		background: none;
	}
	.js .sub-menu {
		background: #808080;
		display: none;
	}
	.js .sub-menu li:hover > ul {
		display: block;
	}
	.sub-menu {
		margin: 0 0 0 -0.25em;
		border: 0;
	}
	.nav li a {
		border: 0;
	}
	.nav li.menu-item-has-children > a {
		padding-right: 2em;
    	&:after {
    		content: ">";
    		font-size: 1em;
    		padding: 0.8em 0.5em;
    	}
	}
	.nav .level-1 > li.menu-item-has-children > a:after {
		content: "▼";
	}
	.sub-menu li {
		margin: 0 0.25em;
	}
	.sub-menu > li {
		display: inline-block;
		position: relative;
	}
}









// TOGGLE MENUS (on directory)

.toggle {
    float: right;
    li {
        display: inline-block;
        color: $anchor-color;
        padding: 3px 8px;
        text-transform: uppercase;
        letter-spacing: $tracking;
        &.is-on {
            background: $white;
            color: $text-color;
        }
        &:hover {
            background: $white;
            cursor: pointer;
        }
    }
}

// FILTER MENUS (on directory)

$f-height: 2.5em; // set variable for this menu

.filter, 
.sort {
    max-height: $f-height;
    padding-top: $f-height; // allow for absolutely-positioned .is-on item
    overflow: hidden;
    position: relative;
    margin-bottom: $space;
    @include transition(max-height 0.25s ease); // slide down and up
	@include breakpoint(sm) {@include span-columns(8);}
	@include breakpoint(lg) {@include span-columns(4);}
	&:hover {
    	max-height: 10em;
    	cursor: pointer;
	}
    li {
        line-height: $f-height;
        display: block;
        padding: 0 1em;
        margin: 0;
        background: $white;
        color: $text-color;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include font-size($zeta);
        &:hover {
            background: lighten($anchor-color, 10);
            color: $white;
        }
        &.is-on {
            @include font-icon-base($family:"ios7-icon"); 
            @include font-size($zeta);
            @extend %ios7-down;
            background: $anchor-color;
            color: $white;
            position: absolute;
            top: 0;
            width: 100%;
            &:before {
                float: right;
            }
        }
    }
}


// PAGINATION

.pagination,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
.pagination{
    clear: both;
    border-top: 1px solid $hr-color;
    padding-top: $space-half;
    ul {
        display: inline-block;
        white-space: nowrap;
        padding:0;
        clear: both;
        margin: 1px;
        li {
            padding: 0;
            margin: 0;
            float: left;
            display: inline;
            overflow: hidden;
            a, span {
                margin: 0;
                text-decoration: none;
                padding: 0;
                line-height: 1em;
                font-size: 1em;
                font-weight: 300;
                padding: .5em;
                min-width: 1em;
                display: block;
            }
            span.current{
            	font-weight: bold;
            }
            a:hover, a:focus {
                
            }
        }
    }
} 

/* fallback previous & next links */
.wp-prev-next {

	ul {}

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}

}

