/*********************
NAVIGATION STYLES
*********************/

// NAVIGATION

/*
all navs have a .nav class applied via the wp_menu function; this 
is so we can easily write one group of styles for the navs on the 
site so our css is cleaner and more scalable.
*/
 
.nav {
    margin: 0;
	li {
        margin: 0;
        white-space: nowrap;
		a {
			display: block;
			text-decoration: none;
		}
	} 
}

ul.children {
    margin: 0;
    li {
        display: block;
    }
}


// TOGGLE MENUS

.toggle {
    float: right;
    li {
        display: inline-block;
        color: $anchor-color;
        padding: 3px 8px;
        text-transform: uppercase;
        letter-spacing: $tracking;
        &.is-on {
            background: $white;
            color: $text-color;
        }
        &:hover {
            background: $white;
            cursor: pointer;
        }
    }
}

// FILTER MENUS

$f-height: 2.5em; // set variable for this menu

.filter {
    max-height: $f-height;
    padding-top: $f-height; // allow for absolutely-positioned .is-on item
    overflow: hidden;
    position: relative;
    margin-bottom: $space;
    @include transition(max-height 0.25s ease); // slide down and up
	@include breakpoint(sm) {@include span-columns(8);}
	@include breakpoint(lg) {@include span-columns(4);}
	&:hover {
    	max-height: 10em;
    	cursor: pointer;
	}
    li {
        line-height: $f-height;
        display: block;
        padding: 0 1em;
        margin: 0;
        background: $white;
        color: $text-color;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include font-size($zeta);
        &:hover {
            background: lighten($anchor-color, 10);
            color: $white;
        }
        &.is-on {
            @include font-icon-base($family:"ios7-icon"); 
            @include font-size($zeta);
            @extend %ios7-down;
            background: $anchor-color;
            color: $white;
            position: absolute;
            top: 0;
            width: 100%;
            &:before {
                float: right;
            }
        }
    }
}


// PAGINATION

.pagination,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
.pagination{
    text-align: center;
    ul {
        display: inline-block;
        white-space: nowrap;
        padding:0;
        clear: both;
        margin: 1px;
        li {
            padding: 0;
            margin: 0;
            float: left;
            display: inline;
            overflow: hidden;
            a, span {
                margin: 0;
                text-decoration: none;
                padding: 0;
                line-height: 1em;
                font-size: 1em;
                font-weight: 300;
                padding: .5em;
                min-width: 1em;
                display: block;
            }
            span.current{
            	font-weight: bold;
            }
            a:hover, a:focus {
                
            }
        }
    }
} 

/* fallback previous & next links */
.wp-prev-next {

	ul {}

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}

}

