// NEWS PROMO (home page)

.news-list {
    li {
        background: $white;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        height: 300px;
        overflow: hidden;
    }
    .post-title {
        margin: .25em 0 0;
    }
    .post-excerpt {
        margin:  .25em 0 .5em;
    }
    .blog-name,
    .post-date {
      display: inline-block;
      margin-right: $space-fourth;
      white-space: nowrap;
      color: $base4; 
      @include font-size($micro);
      a {
        color: $base4;
      }
    }
    .post-author {
      display: none;
    }
    @include breakpoint(sm) {
      li {
        @include span-columns(8); 
        padding: 10px 20px;
      }
    }
}



// There are two types of news feeds.
// 1. an unordered list of aggregated posts (on the network page)
// 2. a dynamic series of articles (on the news page, group page, & partner page)


// NEWS ARTICLES (single page)

.main-news {
    .post {
        border-top: 1px solid $base7;
        padding-top: 20px;
        @include fill-parent;
        clear: both;
    }    
    .post-header,
    .post-footer {
        text-transform: uppercase; 
        letter-spacing: $tracking;
    	@include breakpoint(md) {@include span-columns(2 of 12);}
    	h6, p, li {
        	@include font-size($micro);
        	color: $base5;
        	display: inline-block;
        	&:after {
            	content: ' / ';
            	letter-spacing: 5px;
        	}
            @include breakpoint(md) {display: block; &:after {content: none;}}
    	}
    	a, a:visited {
        	color: $base5;
        	&:hover {
            	color: $text-color;
        	}
    	}
    }
    .post-body {
        padding-bottom: 10px;
    	@include breakpoint(md) {@include span-columns(8 of 12);}
    	p {
        	margin: .25em 0 .75em;
    	}
    }
    .post-title {
        margin: 0;
    }
}

// PARTNER THEME

.partner.post {
  @include row();
  margin-top: 0;
  margin-bottom: $space;
  background: $white;
  .post-header {
    @include span-columns(2 of 12);
    @include pad(34px 0 24px 24px);
    color: $base4;
  }
  .post-body {
    @include span-columns(10 of 12);
    @include pad(24px 24px 24px 0);
  }
  .post-title {
    margin-bottom: $space-34;
  }
}



// NEWS POSTS (list on network page)

.main-network .subtitle {
    @include font-size($epsilon);
    letter-spacing: $tracking-loose;
    margin-bottom: $space-half;
}


.network-posts {
    ul {
        border-bottom: 1px solid $base7;
    }
    li {
        border-top: 1px solid $base7;
        padding: $space-32 $space $space-34;
        max-width: none;
        @include fill-parent;
        clear: both;
    }    
    .post-title {
    	@include font-size($beta);
    	margin-bottom: $space-fourth;
    }
    .post-image {
        float: left;
        margin-top: $space-fourth;
        margin-right: $space;
        margin-bottom: $space-fourth;
        img {
            display: block;
            border: $frame-border;
        }
    }
    .post-excerpt {
    	@include font-size($delta);
    	margin-bottom: $space-half;
    }
    .meta {
        clear: both;
    }
    h6 {
    	@include font-size($milli);
    	color: $base5;
    	display: inline-block;
    	&:after {
        	content: ' / ';
        	letter-spacing: 5px;
    	}
    	&:last-child:after {
        	content: '';
    	}
    	a, a:visited {
        	color: $base5;
        	&:hover {
            	color: $text-color;
        	}
    	}
    }
}




