// NEWS PROMO (home page)

.news-list {
    li {
        background: $white;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        height: 300px;
        overflow: hidden;
    	@include breakpoint(sm) {@include span-columns(8); padding: 10px 20px;}
    }
    .post-title {
        margin: .25em 0 0;
    }
    .post-excerpt {
        margin:  .25em 0 .5em;
    }
    .post-date {
        text-transform: uppercase; 
        letter-spacing: $tracking;
        color: $quiet-color;
        white-space: nowrap;
    }
    .meta h6 {
        display: inline-block;
        margin-right: $space-fourth;
    }
}



// There are two types of news feeds.
// 1. an unordered list of aggregated posts (on the network page)
// 2. a dynamic series of articles (on the news page, group page, & partner page)


// NEWS ARTICLES (single page)

.news-articles {
    .post {
        border-top: 1px solid $base7;
        padding-top: 20px;
        @include fill-parent;
        clear: both;
    }    
    .post-header,
    .post-footer {
        text-transform: uppercase; 
        letter-spacing: $tracking;
    	@include breakpoint(md) {@include span-columns(2 of 12);}
    	h6, p, li {
        	@include font-size($micro);
        	color: $base5;
        	display: inline-block;
        	&:after {
            	content: ' / ';
            	letter-spacing: 5px;
        	}
            @include breakpoint(md) {display: block; &:after {content: none;}}
    	}
    	a, a:visited {
        	color: $base5;
        	&:hover {
            	color: $text-color;
        	}
    	}
    }
    .post-body {
        padding-bottom: 10px;
    	@include breakpoint(md) {@include span-columns(8 of 12);}
    	p {
        	margin: .25em 0 .75em;
    	}
    }
    .post-title {
        margin: 0;
    }
}



// NEWS POSTS (list on network page)

.network-posts {
    ul {
        border-bottom: 1px solid $base7;
    }
    li {
        border-top: 1px solid $base7;
        padding: 20px 0 10px;
        max-width: none;
        @include fill-parent;
        clear: both;
    }    
    .post-title {
    	@include font-size($beta);
    	margin-bottom: $space-fourth;
    }
    .post-excerpt {
    	@include font-size($delta);
    	margin-bottom: $space-half;
    }
    .meta h6 {
    	@include font-size($micro);
    	color: $base5;
    	display: inline-block;
    	&:after {
        	content: ' / ';
        	letter-spacing: 5px;
    	}
    	&:last-child:after {
        	content: '';
    	}
    	a, a:visited {
        	color: $base5;
        	&:hover {
            	color: $text-color;
        	}
    	}
    }
}




