
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar p {
    line-height: 1.3;
    @include font-size($zeta);
}

.widgettitle {
	margin: -5px 0 0.5em;
	color: $white;
    color: rgba(255,255,255,.7);
    @include font-size($zeta);
}

.widget {
	padding: 20px;
	margin: 0 0 20px;
    background: $base5;
    color: $white;
	a, a:visited {
		color: $white;
		font-weight: 300;
		display: block;
        padding: 0.5em 20px 0.5em 0;
		&:hover {
    		color: $white;
    		padding-left: 15px;
    		padding-right: 5px;
            background: $text-color;
            background: rgba(0,0,0,.1);
		}
	}
	ul {
    	border-top: 1px solid $text-color;
    	border-top: 1px solid rgba(0,0,0,.1);
    	margin: 0;
	}
	li {
    	border-bottom: 1px solid $text-color;
    	border-bottom: 1px solid rgba(0,0,0,.1);
        padding: 0;
        margin: 0;
        line-height: 1.3;
		
		/* deep nesting */
		ul {
			margin: 0;
			padding-left: 20px;
			border: 0;
		}
		li {
    		border: 0;
    		padding: 0;
    		color: $quiet-color;
		}
	}
	form {
    	background: transparent;
    	padding: 20px 0;
	}
	label {
        margin-bottom: 0;
    }
    input[type="text"], 
    input[type="password"], 
    input[type='email'] {
        padding: 2px 5px;
    }
}



// SEARCH

.widget_search {
    padding: 5px 20px;
}


// EVENT MANAGER

.widget_recent_entries,
.widget_em_widget {
    li {
        @include font-size($delta);
        li {
    		@include font-size($epsilon);
        }
    }
}

// ARCHIVE, META

.widget_archive, 
.widget_meta {
    li {
        width: 49%;
        display: inline-block;
        white-space: nowrap;
        @include font-size(15);
        line-height: 1.1;
    }
}


// DEFAULT CALENDAR WIDGET

#wp-calendar {
    width: 100%;
    td {
        text-align: center;
    }
    td#prev {
        text-align: left;
    }
    td#next {
        text-align: right;
    }
}

