/* COMMUNITY CSS */
/* This stylesheet was written in Sass and compiled locally */


// RESET
// http://nicolasgallagher.com/about-normalize-css/
@import "vendor/normalize";


// MIXINS
@import "mixins/bourbon/bourbon";
@import "mixins/neat/neat";
@import "mixins/custom";

// WEB FONTS
@import "webfonts/mixins";
@import "webfonts/entypo";
@import "webfonts/ios7";


// BASE ELEMENTS
@import "base/config";
@import "base/typography";
@import "base/wordpress";
@import "base/containers";
@import "base/header";
@import "base/footer";
@import "base/sidebar";
@import "base/banners";
@import "base/menus";
@import "base/buttons";
@import "base/posts";
@import "base/modules";
@import "base/news";
@import "base/images";
@import "base/forms";
@import "base/comments";
@import "base/alerts";


// VENDOR PLUGINS/ADD-ONS
@import "vendor/biographia";
@import "vendor/bxslider";
@import "vendor/easymail";
@import "vendor/eventmanager";
@import "vendor/thememylogin";


// CUSTOM THEME
@import "nycp/footer";
@import "nycp/sidebar";





