@import url("http://weloveiconfonts.com/api/?family=entypo");
/* COMMUNITY CSS */
/* This stylesheet was written in Sass and compiled locally */
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

b, strong, .strong {
  font-weight: bold; }

dfn, em, .em {
  font-style: italic; }

small, .small {
  font-size: 75%; }

ul, ol {
  padding: 0;
  list-style-type: none; }

dd {
  margin: 0; }

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.is-hidden {
  display: none; }

.fullwidth {
  width: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

hr {
  border: 0;
  height: 1px;
  background: #e6e4df;
  margin: 2rem 0 4rem 0; }

img, video, object {
  max-width: 100%; }

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, li, dt, dd, input, label, textarea, small, .nav li {
  font-family: "Lato", Helvetica, Verdana, sans-serif;
  font-weight: 300; }

.logo-NYCP, #wp-calendar caption, #wp-calendar td#prev, #wp-calendar td#next, input[type='submit'] {
  font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
  font-weight: 400; }

.logo-NYCP, #wp-calendar caption, #wp-calendar td#prev, #wp-calendar td#next, input[type='submit'], h5, .h5, .copyright, button,
.button, .byline {
  text-transform: uppercase;
  letter-spacing: 1px; }

[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
  font-style: normal; }

html {
  font-size: 100%; }

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  color: #333231; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.4;
  text-rendering: optimizelegibility;
  font-weight: 300;
  color: #1a1919; }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
    text-decoration: none; }

h1, .h1 {
  font-size: 36px;
  font-size: 2.25rem; }
  @media (min-width: 769px) {
    h1, .h1 {
      font-size: 44px;
      font-size: 2.75rem; } }

h2, .h2 {
  font-size: 28px;
  font-size: 1.75rem;
  margin-bottom: 0.375em; }
  @media (min-width: 769px) {
    h2, .h2 {
      font-size: 32px;
      font-size: 2rem; } }

h3, .h3 {
  font-size: 23px;
  font-size: 1.4375rem;
  margin-bottom: 0.125em; }

h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6, .h6 {
  font-size: 15px;
  font-size: 0.9375rem; }

p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.8; }

li, dt, dd {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 1em; }

input, label, textarea {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: .75em; }

small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.4; }

b, strong {
  font-weight: 700; }

i, em {
  font-style: italic; }

ul, ol {
  margin: 0 0 2.4em; }
  ul li, ol li {
    margin-bottom: .8em; }

blockquote {
  padding: 0 10% 0 0;
  margin: 1.4em 0; }
  blockquote ol, blockquote ul {
    margin-bottom: 1.5em; }
  blockquote p, blockquote li {
    font-size: 23px;
    font-size: 1.4375rem;
    color: #999894;
    font-style: italic; }

code,
kbd,
pre,
samp {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-size: 1.125rem; }

pre {
  padding: 1em 1.5em;
  margin: 1.8em 0;
  display: block;
  background: #333231;
  color: white; }

body {
  background: #f5f3ed; }

#content {
  padding-top: 20px; }

.wrap {
  width: 96%;
  margin: 0 auto; }

#inner-header,
#inner-content,
#inner-footer,
.section-inner,
.home-main {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #inner-header:before, #inner-header:after,
  #inner-content:before,
  #inner-content:after,
  #inner-footer:before,
  #inner-footer:after,
  .section-inner:before,
  .section-inner:after,
  .home-main:before,
  .home-main:after {
    content: " ";
    display: table; }
  #inner-header:after,
  #inner-content:after,
  #inner-footer:after,
  .section-inner:after,
  .home-main:after {
    clear: both; }

@media (min-width: 769px) {
  div[role='complementary'] {
    display: block;
    float: left;
    margin-right: 1.75788%;
    width: 23.68159%; }
    div[role='complementary']:last-child {
      margin-right: 0; } }

div[role='main'] {
  padding-bottom: 60px; }
  @media (min-width: 769px) {
    div[role='main'] {
      display: block;
      float: left;
      margin-right: 1.75788%;
      width: 74.56053%; }
      div[role='main']:last-child {
        margin-right: 0; } }
  .page-template-page-iframe-php div[role='main'] {
    display: block;
    float: left;
    margin-right: 1.75788%;
    width: 100%;
    padding: 0; }
    .page-template-page-iframe-php div[role='main']:last-child {
      margin-right: 0; }

@media (min-width: 769px) {
  .home-feature {
    display: block;
    float: left;
    margin-right: 1.75788%;
    width: 74.56053%; }
    .home-feature:last-child {
      margin-right: 0; } }

@media (min-width: 769px) {
  .home-intro {
    display: block;
    float: left;
    margin-right: 1.75788%;
    width: 23.68159%; }
    .home-intro:last-child {
      margin-right: 0; } }

.home-modules .row {
  border-top: 1px solid #b8b6b2;
  margin-top: 20px; }

#inner-header {
  border-bottom: 1px solid #b8b6b2; }

.site-title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  float: left;
  margin: 0;
  white-space: nowrap; }
  @media (min-width: 769px) {
    .site-title {
      font-size: 14px;
      font-size: 0.875rem; } }
  .site-title a {
    display: block;
    color: #333231;
    font-weight: 700;
    padding: 15px 10px 15px 0; }

.top-nav {
  position: absolute;
  right: 0;
  top: 0; }
  @media (min-width: 769px) {
    .top-nav {
      position: static; } }
  .top-nav li {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1; }
    @media (min-width: 769px) {
      .top-nav li {
        font-size: 14px;
        font-size: 0.875rem;
        display: inline-block; } }
    .top-nav li a,
    .top-nav li a:visited {
      padding: 15px 10px;
      color: #333231; }
    .top-nav li a:focus,
    .top-nav li a:hover {
      color: #00a99d; }
  .top-nav li:hover {
    position: relative; }
    .top-nav li:hover a:before,
    .top-nav li:hover a:after {
      position: absolute;
      content: '';
      height: 0px;
      left: 50%;
      bottom: -1px;
      border-color: transparent; }
    .top-nav li:hover a:before {
      border-bottom-color: #999894;
      border-width: 5px;
      margin-left: -5px; }
    .top-nav li:hover a:after {
      border-bottom-color: #f5f3ed;
      border-width: 4px;
      margin-left: -4px; }

li.current-menu-item,
li.current_page_item,
li.current-page-ancestor {
  position: relative; }
  li.current-menu-item a:before,
  li.current-menu-item a:after,
  li.current_page_item a:before,
  li.current_page_item a:after,
  li.current-page-ancestor a:before,
  li.current-page-ancestor a:after {
    position: absolute;
    content: '';
    height: 0px;
    left: 50%;
    bottom: -1px;
    border-color: transparent; }
  li.current-menu-item a:before,
  li.current_page_item a:before,
  li.current-page-ancestor a:before {
    border-bottom-color: #999894;
    border-width: 8px;
    margin-left: -8px; }
  li.current-menu-item a:after,
  li.current_page_item a:after,
  li.current-page-ancestor a:after {
    border-bottom-color: #f5f3ed;
    border-width: 7px;
    margin-left: -7px; }

li.current-menu-item a:hover,
li.current_page_item a:hover {
  color: #333231;
  cursor: default; }

.footer {
  background: #e6e4df; }
  .footer .global {
    padding: 30px 0; }

.logo-NYCP {
  font-size: 22px;
  font-size: 1.375rem;
  float: left;
  margin-right: 30px;
  white-space: nowrap; }
  @media (min-width: 1025px) {
    .logo-NYCP {
      display: inline-block;
      margin-right: 30px; } }
  .logo-NYCP a {
    color: white; }
  .logo-NYCP span {
    display: inline-block;
    border: 2px solid white;
    padding: 3px 5px;
    margin-left: 5px;
    -webkit-transition: border-color 0.25s ease;
    -moz-transition: border-color 0.25s ease;
    transition: border-color 0.25s ease; }
  .logo-NYCP a:hover {
    color: #333231; }
    .logo-NYCP a:hover span {
      border-color: #333231; }

.social-links {
  clear: both;
  margin-top: 20px; }
  .social-links li {
    display: inline-block;
    padding: 0;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 0;
    margin-right: 3px; }
  .social-links a {
    display: block; }
  .social-links .facebook {
    background: #247cc9;
    border-color: #247cc9;
    color: white; }
    .social-links .facebook:hover, .social-links .facebook:focus {
      background: white;
      color: #247cc9 !important; }
  .social-links .twitter {
    background: #29abe2;
    border-color: #29abe2;
    color: white; }
    .social-links .twitter:hover, .social-links .twitter:focus {
      background: white;
      color: #29abe2 !important; }
  .social-links .github {
    background: #00a99d;
    border-color: #00a99d;
    color: white; }
    .social-links .github:hover, .social-links .github:focus {
      background: white;
      color: #00a99d !important; }
  .social-links .email {
    background: #22b573;
    border-color: #22b573;
    color: white; }
    .social-links .email:hover, .social-links .email:focus {
      background: white;
      color: #22b573 !important; }
  .social-links .rss {
    background: #ff931e;
    border-color: #ff931e;
    color: white; }
    .social-links .rss:hover, .social-links .rss:focus {
      background: white;
      color: #ff931e !important; }

.copyright {
  font-size: 10px;
  font-size: 0.625rem;
  background: #d1cfcb;
  padding: 15px;
  clear: both;
  text-align: center; }
  @media (min-width: 769px) {
    .copyright {
      font-size: 12px;
      font-size: 0.75rem; } }

.footer .widget {
  background: white; }
  @media (min-width: 769px) {
    .footer .widget {
      display: block;
      float: left;
      margin-right: 1.75788%;
      width: 23.68159%; }
      .footer .widget:last-child {
        margin-right: 0; } }
  .footer .widget li {
    font-size: 16px;
    font-size: 1rem; }
  .footer .widget a {
    color: #247cc9; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em; }

.widgettitle {
  margin: 0 0 0.75em;
  color: white; }

.widget {
  padding: 20px;
  margin: 0 0 20px;
  background: #4d4c4a;
  color: white; }
  .widget a {
    color: white; }
    .widget a:hover {
      color: #333231; }
  .widget ul li {
    margin-bottom: 0.75em;
    line-height: 1.4;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

.sidebar .widget:first-child {
  background: #22b573; }
.sidebar .widget:nth-child(2) {
  background: #00a99d; }
.sidebar .widget:nth-child(3) {
  background: #29abe2; }
.sidebar .widget:nth-child(4) {
  background: #247cc9; }

#wp-calendar {
  width: 100%; }
  #wp-calendar td {
    text-align: center; }
  #wp-calendar td#prev {
    text-align: left; }
  #wp-calendar td#next {
    text-align: right; }

/*********************
NAVIGATION STYLES
*********************/
/******************************************************************
NAVIGATION
******************************************************************/
/*
all navs have a .nav class applied via the wp_menu function; this 
is so we can easily write one group of styles for the navs on the 
site so our css is cleaner and more scalable.
*/
.nav {
  margin: 0; }
  .nav li {
    margin: 0;
    white-space: nowrap; }
    .nav li a {
      display: block;
      text-decoration: none; }

/******************************************************************
PAGINATION
******************************************************************/
.pagination,
.wp-prev-next {
  margin: 1.1em 0 2.2em; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    margin: 1px; }
    .pagination ul li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden; }
      .pagination ul li a, .pagination ul li span {
        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1em;
        font-size: 1em;
        font-weight: 300;
        padding: .5em;
        min-width: 1em;
        display: block; }
      .pagination ul li span.current {
        font-weight: bold; }

/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left; }
.wp-prev-next .next-link {
  float: right; }

a,
a:visited {
  color: #247cc9;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus,
  a:visited:hover,
  a:visited:focus {
    color: #22b573; }
  a:link,
  a:visited:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

button,
.button {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  padding: .5em 2em;
  border: 0;
  background: #00a99d;
  color: white;
  display: inline-block; }
  button:link, button:visited,
  .button:link,
  .button:visited {
    color: white; }
  button:hover, button:focus,
  .button:hover,
  .button:focus {
    background: white;
    color: #333231; }
  @media (min-width: 769px) {
    button,
    .button {
      font-size: 16px;
      font-size: 1rem; } }

.btn-navy {
  background: #247cc9;
  border-color: #247cc9;
  color: white; }
  .btn-navy:hover, .btn-navy:focus {
    background: white;
    color: #247cc9 !important; }

.btn-blue {
  background: #29abe2;
  border-color: #29abe2;
  color: white; }
  .btn-blue:hover, .btn-blue:focus {
    background: white;
    color: #29abe2 !important; }

.btn-teal {
  background: #00a99d;
  border-color: #00a99d;
  color: white; }
  .btn-teal:hover, .btn-teal:focus {
    background: white;
    color: #00a99d !important; }

.btn-green {
  background: #22b573;
  border-color: #22b573;
  color: white; }
  .btn-green:hover, .btn-green:focus {
    background: white;
    color: #22b573 !important; }

.btn-yellow {
  background: #fbb03b;
  border-color: #fbb03b;
  color: white; }
  .btn-yellow:hover, .btn-yellow:focus {
    background: white;
    color: #fbb03b !important; }

.btn-orange {
  background: #ff931e;
  border-color: #ff931e;
  color: white; }
  .btn-orange:hover, .btn-orange:focus {
    background: white;
    color: #ff931e !important; }

.btn-red {
  background: #f15a24;
  border-color: #f15a24;
  color: white; }
  .btn-red:hover, .btn-red:focus {
    background: white;
    color: #f15a24 !important; }

/*********************
POSTS & CONTENT STYLES
*********************/
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
.byline {
  color: #b8b6b2;
  font-size: 15px;
  font-size: 0.9375rem; }
  .byline a {
    color: #b8b6b2; }

.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */ }
  .entry-content h2, .entry-content h3, .entry-content h4 {
    margin-top: 1.8em; }
  .entry-content p {
    max-width: 40em; }
  .entry-content ul, .entry-content ol {
    padding: 0 40px; }
  .entry-content ul {
    list-style: square; }
  .entry-content ol {
    list-style: decimal; }
  .entry-content dl {
    border-top: 1px solid white;
    padding-top: 1em; }
  .entry-content dt {
    float: left; }
  .entry-content dd {
    margin-left: 375px; }
  .entry-content img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto; }
  .entry-content .alignleft, .entry-content img.alignleft {
    float: left;
    margin-right: 40px;
    margin-bottom: 20px; }
  .entry-content .alignright, .entry-content img.alignright {
    float: right;
    margin-left: 40px;
    margin-bottom: 20px; }
  .entry-content video, .entry-content object {
    max-width: 100%;
    height: auto; }

.wp-caption {
  max-width: 100%;
  background: white;
  margin-bottom: 1em;
  padding: 0;
  display: inline-block;
  vertical-align: top; }
  .wp-caption img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 0 !important; }
  .wp-caption p.wp-caption-text {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.4;
    text-align: center;
    margin: 0;
    padding: 0px 10px 10px; }

form {
  background: #e6e4df;
  padding: 40px; }

fieldset {
  border: 0;
  padding: 0; }

textarea,
input[type="text"],
input[type="password"],
input[type='email'] {
  padding: 5px; }

input[type='submit'] {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: button;
  cursor: pointer;
  border-radius: 5px;
  background: #333231;
  color: white;
  line-height: 1;
  margin: 0;
  padding: .5em 2em; }
  input[type='submit']:hover {
    background: white;
    color: #333231; }

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.respond-form {
  padding-bottom: 2.2em; }
  .respond-form form li {
    list-style-type: none;
    clear: both;
    margin-bottom: 0.7335em; }
    .respond-form form li label,
    .respond-form form li small {
      display: none; }
  .respond-form form input[type=text],
  .respond-form form input[type=email],
  .respond-form form input[type=url],
  .respond-form form textarea {
    padding: 4px 8px;
    background: white;
    border: 1px solid #b8b6b2; }
    .respond-form form input[type=text]:focus,
    .respond-form form input[type=email]:focus,
    .respond-form form input[type=url]:focus,
    .respond-form form textarea:focus {
      border-color: #29abe2; }
    .respond-form form input[type=text]:invalid,
    .respond-form form input[type=email]:invalid,
    .respond-form form input[type=url]:invalid,
    .respond-form form textarea:invalid {
      outline: none;
      border-color: #f15a24;
      background-color: #fffdf7;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .respond-form form input[type=text],
  .respond-form form input[type=email],
  .respond-form form input[type=url] {
    max-width: 400px;
    min-width: 250px; }
  .respond-form form textarea {
    resize: none;
    width: 97.3%;
    height: 150px; }

/* comment submit button */
/* comment form title */
#comment-form-title {
  margin: 1.5em 0 .5em; }

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* no comments */
.nocomments {
  margin: 0 20px 1.1em; }

#comment-form-elements {
  margin: 0; }

#comment-form-elements + p {
  margin: 0 0 30px; }

/******************************************************************
SEARCH FORM 
******************************************************************/
#searchform {
  float: right;
  padding: 27px 0 0; }
  #searchform label {
    display: none; }
  #searchform #s {
    width: 170px;
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    height: 28px;
    line-height: 28px;
    padding: 2px 5px;
    text-transform: lowercase; }
  #searchform input[type='submit'] {
    font-size: 16px;
    font-size: 1rem;
    height: 28px;
    width: 28px;
    line-height: 28px;
    padding: 0;
    margin-left: -4px;
    border: 1px solid #333231; }

/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments {
  /* number of comments span */ }

.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */ }
  .commentlist li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px;
    /* end .commentlist li ul.children */ }
    .commentlist li:last-child {
      margin-bottom: 0; }
    .commentlist li ul.children {
      margin: 0;
      /* variations */
      /* change number for different depth */ }
  .commentlist li[class*=depth-] {
    margin-top: 1.1em; }
  .commentlist li.depth-1 {
    margin-left: 0;
    margin-top: 0; }
  .commentlist li:not(.depth-1) {
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0;
    padding-bottom: 0; }
  .commentlist .odd {
    background: #eee; }
  .commentlist .even {
    background: #fefefe; }
  .commentlist .vcard {
    margin-left: 50px; }
    .commentlist .vcard cite.fn {
      font-weight: 700;
      font-style: normal; }
    .commentlist .vcard time {
      float: right; }
      .commentlist .vcard time a {
        color: #999;
        text-decoration: none; }
        .commentlist .vcard time a:hover {
          text-decoration: underline; }
    .commentlist .vcard img.avatar {
      position: absolute;
      left: 10px;
      padding: 2px;
      border: 1px solid #cecece;
      background: #fff; }
  .commentlist .comment_content {
    margin-left: 50px; }
    .commentlist .comment_content p {
      margin: 0.7335em 0 1.5em;
      font-size: 1em;
      line-height: 1.5em; }
  .commentlist .comment-reply-link {
    text-decoration: none;
    float: right;
    background: #4598bb;
    padding: 3px 5px;
    color: #fff;
    opacity: 0.65;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 0.9em; }
    .commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
      opacity: 1; }

/* end .commentlist */
/*********************
ALERTS AND NOTICES
*********************/
.alert-help, .alert-info, .alert-error, .alert-success {
  padding: 20px;
  color: white; }

.alert-help {
  background: #29abe2; }

.alert-info {
  background: #333231; }

.alert-error {
  background: #f15a24; }

.alert-success {
  background: #22b573; }

.respond-form .alert {
  margin: 40px -40px -40px;
  padding: 20px 40px; }
  .respond-form .alert code,
  .respond-form .alert p {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.4; }

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
.alo_easymail_widget_form {
  padding: 20px 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-color: rgba(255, 255, 255, 0.5);
  display: inline-block; }
  .alo_easymail_widget_form td, .alo_easymail_widget_form label {
    font-size: 16px;
    vertical-align: top;
    white-space: nowrap; }
  .alo_easymail_widget_form label {
    vertical-align: middle;
    margin-right: 3px; }
  .alo_easymail_widget_form .input-radio,
  .alo_easymail_widget_form .input-checkbox {
    margin: 0 3px 7px 0; }
  .alo_easymail_widget_form .input-text {
    padding: 0 5px;
    width: 100%; }

.alo_easymail_lists_table {
  font-size: 14px;
  margin-top: 20px; }

.em-search-wrapper {
  display: none; }

.events-table th {
  vertical-align: bottom;
  text-align: left;
  padding-bottom: 5px; }
.events-table td {
  vertical-align: top;
  padding: 10px 10px 10px 0;
  border-top: 1px solid #e6e4df; }
.events-table a {
  font-weight: 700;
  color: #00a99d; }

.single-event .byline {
  display: none; }

ul.event-categories {
  margin: 0;
  margin-top: -18px;
  padding: 0;
  list-style: none; }
  ul.event-categories li {
    display: inline;
    margin-right: 20px; }

.em-booking {
  margin: 10px 0px 30px 0px;
  background: #e6e4df;
  background: rgba(0, 0, 0, 0.1); }

.em-booking-form-details {
  padding: 30px; }

.em-tickets-spaces {
  margin: 0; }

.em-booking-form label {
  margin-bottom: 0; }

.em-booking-form-details textarea {
  width: 300px; }

.em-location-map-container {
  border: 5px solid white; }

.widget_em_widget a {
  font-weight: 700; }
.widget_em_widget ul li ul {
  margin: .25em 0 1.5em; }
  .widget_em_widget ul li ul li {
    margin: 0; }

.all-events-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px; }

.sy-slides-wrap {
  border: 5px solid white; }

.sy-caption-wrap {
  bottom: 0;
  left: 0;
  width: 100%; }
  .sy-caption-wrap .sy-caption {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.8);
    color: #333231;
    left: auto;
    font-size: 14px;
    font-size: 0.875rem; }
    @media (min-width: 769px) {
      .sy-caption-wrap .sy-caption {
        font-size: 24px;
        font-size: 1.5rem; } }

.sy-pager {
  margin-top: 10px; }
  .sy-pager li {
    width: .75em;
    height: .75em;
    margin: 0 .75em 0 0; }
    .sy-pager li a {
      background: #e6e4df; }
    .sy-pager li.sy-active a {
      background-color: #333231; }
