// GROUP HEADER

.site-banner img {
    @extend %image-border;
}

.site-name {
    margin: 10px 0 20px;
    line-height: 1;
    @extend %caps;
    @extend h2;
    a {
        color: $headline-color;
    }
}

.social-links {
    float: right;
    margin-right: 5px;
}


.site-nav {
    background: $gray7;
    .search-form {
        float: right;
        margin: 0 5px;
    }
    li {
        display: inline-block;
        margin: 0;
        margin-right: -3px; // remove space caused by inline-block
        &.current-menu-item a {
            background: $anchor-color;
            color: $white;
        }
    }
    li a {
        display: block;
        padding: 7px 15px;
        color: $white;
        @extend %caps;
        &:hover {
            background: $anchor-color;
            color: $white;
        }
    }
}

.community-group #inner-header {
    border-bottom: 0;
}

.community-group h1.h2 {
    display: none;
}
