// GROUP HEADER

.site-banner img {
    @extend %image-border;
}

.site-name {
    margin: 10px 0 20px;
    line-height: 1;
    @extend %caps;
    @extend h2;
    a {
        color: $headline-color;
    }
}

.social-links {
    float: right;
}


.site-nav {
    background: $gray8;
    .search-form {
        float: right;
        margin: 0 10px;
    }
    li {
        display: inline-block;
    }
    li a {
        display: block;
        padding: 5px 10px;
        color: $white;
        @extend %caps;
        &:hover {
            background: $anchor-color;
        }
    }
}
