// NEWS FEED

.community-group,
.community-partner {
    .post.news {
        border-top: 1px solid $gray7;
        padding: 20px 0;
        @include fill-parent;
        clear: both;
    }    
    .post-header {
        @include fill-parent;
        clear: both;
    }
    .post-title {
        margin: 0;
    }
    .post-body {
        padding-bottom: 10px;
    	@include breakpoint(medium) {@include span-columns(9 of 12);}
    	p {
        	margin: .75em 0;
    	}
    }
    .post-footer {
        @extend %caps;
    	@include breakpoint(medium) {@include span-columns(3 of 12);}
    	h6 {
        	color: $quiet-color;
    	}
    	p, li {
        	@extend h6;
        	color: $quiet-color;
    	}
    	a, a:visited {
        	color: $quiet-color;
        	&:hover {
            	color: $text-color;
        	}
    	}
    }
}
