// ios7 icon font
// paste in symbols from http://ios7-icon-font-demo.herokuapp.com/

%ios7-sites:before{ content:''; }
%ios7-data:before{ content:''; }
%ios7-book:before{ content:''; }
%ios7-truck:before{ content:''; }

%ios7-search:before{ content:''; }
%ios7-pin:before{ content:''; }
%ios7-store:before{ content:''; }
%ios7-card:before{ content:''; }
%ios7-home:before{ content:''; }
%ios7-settings:before{ content:''; }
%ios7-user:before{ content:''; }
%ios7-star:before{ content:''; }

%ios7-right:before{ content:''; }
%ios7-left:before{ content:''; }
%ios7-up:before{ content:''; }
%ios7-down:before{ content:''; }




/* new */

[title~="icon-"]:before {
  font-family: 'ios7-icon';
  src: url('fonts/ios7-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
[title="icon-data"]:before {content: ''; font-family: 'ios7-icon';}  
[title="icon-sites"]:before {content: '&#61875';}  
[title="icon-openbook"]:before { content: '&#61854';} 
[title="icon-store"]:before { content: '&#61772';} 
[title="icon-truck"]:before {content: '&#61894';}  
[title="icon-globe"]:before {content: '&#61838';}  
[title="icon-mail"]:before {content: '&#61880';}  
[title="icon-chat"]:before {content: '&#61704';}  
[title="icon-phone"]:before {content: '&#61911';} 
[title="icon-fax"]:before {content: '&#61830';} 
[title="icon-newspaper"]:before {content: '&#61940';} 



 