
// LINKS

a, 
a:visited {
	color: $anchor;
    text-decoration: none; 
    cursor: pointer;     
    @include transition(all 0.25s ease);
    
	&:hover, 
	&:focus {
		color: $green;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}





// BUTTONS



.btn,
button {
    @extend %condensed;
    @include transition(all 0.25s ease);
    @include font-size(18);
    padding: .5em 2em;
    border-radius: 5px;
    border: 3px solid $gray1;
    background: $gray1;
    color: $white;
    display: inline-block;
    &:link,
    &:visited {
        color: $white;
    }
    &:hover,
    &:focus {
        background: $white;
        color: $gray2;
    }
}

// invert colors on hover
@mixin flip-button($color){
    background: $color;
    border-color: $color;
    color: $white;
    &:hover,
    &:focus {
        background: $white;
        color: $color !important;
    }
}

// colored buttons

.btn-navy {
    @extend .btn;
    @include flip-button($navy);
}
.btn-blue {
    @extend .btn;
    @include flip-button($blue);
}
.btn-teal {
    @extend .btn;
    @include flip-button($teal);
}
.btn-green {
    @extend .btn;
    @include flip-button($green);
}
.btn-yellow {
    @extend .btn;
    @include flip-button($yellow);
}
.btn-orange {
    @extend .btn;
    @include flip-button($orange);
}
.btn-red {
    @extend .btn;
    @include flip-button($red);
}

.btn-large {
    @extend .btn;
    @include font-size(24);
    padding: 1em 3em;
    border-radius: 7px;
}

.btn-small {
    @extend .btn;
    @include font-size(15);
    padding: .25em 1em;
    border-radius: 3px;
}


// ICONS
// We've installed the FontAwesome plugin in Wordpress

i[class^="icon-"] {
    font-size: 1.5em;
    margin-right: .5em;
}