
// LINKS

a, 
a:visited {
	color: $anchor-color;
    text-decoration: none; 
    cursor: pointer;     
    @include transition(all 0.25s ease);
    
	&:hover, 
	&:focus {
		color: $anchor-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}





// BUTTONS



button,
.button {
    @include transition(all 0.25s ease);
    @include font-size(14);
	@extend %caps;
    line-height: 1.2;
	font-weight: 700;
    padding: .5em 2em;
    text-align: center;
    border: 0;
    background: $anchor-color;
    color: $white;
    display: inline-block;
    &:link,
    &:visited {
        color: $white;
    }
    &:hover,
    &:focus {
        background: $white;
        color: $text-color;
    }
    @include breakpoint(medium) {@include font-size(16);}
}


// button sizes

%button-large {
    @include font-size(24);
    padding: 1em 3em;
}

%button-small {
    @include font-size(15);
    padding: .25em 1em;
}



// colored buttons

.btn-navy {
    @extend .btn;
    @include flip-button($navy);
}
.btn-blue {
    @extend .btn;
    @include flip-button($blue);
}
.btn-teal {
    @extend .btn;
    @include flip-button($teal);
}
.btn-green {
    @extend .btn;
    @include flip-button($green);
}
.btn-yellow {
    @extend .btn;
    @include flip-button($yellow);
}
.btn-orange {
    @extend .btn;
    @include flip-button($orange);
}
.btn-red {
    @extend .btn;
    @include flip-button($red);
}


// CUSTOM PAGES

.home-intro .button {
    margin-bottom: 10px;
    margin-right: 10px;
}
