// CONTAINERS 


// base

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $gray9;
}


hr {
	border: 0;
	height: 1px;
	background: $hr-color;
	margin:2rem 0 4rem 0;
}


// modules
// use Bourbon Neat grid

#content {
    padding-top: 20px;
}


.wrap {
	width: 90%;
	margin: 0 auto;
}

#inner-header,
#inner-content,
#inner-footer,
.section-inner,
.home-main {
    @include outer-container;
}



// sidebar
div[role='complementary'] {
	@include breakpoint(medium) {@include span-columns(4);}
}

// main
div[role='main'] {
    padding-bottom: 60px; 
	@include breakpoint(medium) {@include span-columns(12); }
    // single page template 
    .page-template-page-iframe-php & {
        @include span-columns(16); 
        padding: 0;
    }
}

// full-width pages 

div[role='main'].news-feed {
    @include fill-parent;
}


// HOME PAGE 

.home-feature {
    @include breakpoint(medium) {
        @include span-columns(12);
        // hide FOUT
        max-height: 444px;
        overflow: hidden; 
    }
}
.home-intro {
    @include breakpoint(medium) {
        @include span-columns(4); 
    }
}

.home-modules {
    padding-bottom: 30px;
    .row {
        border-top: 1px solid $hr-color;
        padding: 20px 0;
    }
}
