// CONTAINERS 


// standardize box model across browsers! IE8 and up. bit.ly/1eXrOej 
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// base

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $base9;
}


hr {
	border: 0;
	height: 1px;
	background: $hr-color;
	margin:2rem 0 4rem 0;
}


// modules
// use Bourbon Neat grid

#content {
    padding-top: 20px;
}


.wrap {
	width: 90%;
	margin: 0 auto;
}

#inner-header,
#inner-content,
#inner-footer,
.section-inner,
.home-main {
    @include outer-container;
}



// sidebar
div[role='complementary'] {
	@include breakpoint(md) {@include span-columns(4);}
}

// main
div[role='main'] {
    padding-bottom: 60px; 
	@include breakpoint(md) {@include span-columns(12); }
    // single page template 
    .page-template-page-iframe-php & {
        @include span-columns(16); 
        padding: 0;
    }
}

// full-width pages 

div[role='main'].news-feed {
    @include fill-parent;
}


// HOME PAGE 

.home-feature {
    max-height: 480px;
    overflow: hidden; 
    border-top: 1px solid $hr-color;
}

.home-modules {
    padding-bottom: 30px;
    .row {
        border-top: 1px solid $hr-color;
        padding: 20px 0;
    }
}


// DIRECTORY

.directory .page {
    padding-bottom: $space-double;
}
