// STARTER VARIABLES AND MIXINS


// COLORS

$navy: #247cc9;
$blue: #29abe2;
$teal: #00a99d;
$green: #22b573;
$lime: #8cc63f;
$yellow: #fbb03b;
$orange: #ff931e;
$red: #f15a24;

$black: #000;
$white: #fff;

// shades of beige -- HSB(43, 3, X)
$gray1: #1a1919;
$gray2: #333231;
$gray3: #4d4c4a;
$gray4: #757472;
$gray5: #999894;
$gray6: #b8b6b2;
$gray7: #d1cfcb;
$gray8: #e6e4df;
$gray9: #f5f3ed;
$gray0: #fffdf7;


// Tutorial: how to use color variables properly:
// http://sachagreif.com/sass-color-variables/

$anchor: $navy;
$headline-color: $gray1;
$text-color: $gray2;



// LAYERS

$layer1: 1; // content
$layer2: 2; // hovers
$layer3: 3; // cloak
$layer4: 4; // lightbox
$layer5: 5; // lightbox content



// GRID (BOURBON NEAT) //
// so great! read the docs:
// neat.bourbon.io/docs/

$grid-columns: 16;
$max-width: 1200px;


// MIXINS 
// read the Bourbon docs for all kinds of well-tested mixins 
// check there before adding new ones
// http://bourbon.io/docs/


// RWD BREAKPOINTS 

@mixin breakpoint($point) {
	@if $point == xl {
		@media (min-width: 1200px) { @content; }
	}
	@if $point == large {
		@media (min-width: 1025px) { @content; }
	}
	@if $point == medium {
		@media (min-width: 769px) { @content; }
	}
	@if $point == small {
		@media (min-width: 481px) { @content; }
	}
	@else if $point == tiny {
		@media (min-width: 321px)  { @content; }
	}
}


// CLEARFIX

// for old markup w/clearfix class:
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

// for semantic markup, a la http://blog.teamtreehouse.com/a-better-clearfix-with-sass
// usage: @extend %clearfix;
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}


// IMAGE FRAME

%image-border {
    border: 5px solid $white;
}



// NOTCHED LINE

@mixin notch($size, $border: $gray5, $fill: $gray9){
    position: relative;
    a:before,
    a:after {
        position: absolute;
        content: '';
        height: 0px;
        left: 50%;
        bottom: -1px;
        border-color: transparent;
    }
    a:before {
        border-bottom-color: $border;
        border-width: $size;
        margin-left: -$size;
    }
    a:after {
        border-bottom-color: $fill;
        border-width: $size - 1;
        margin-left: -$size + 1;
    }
}


// BUTTON THAT FLIPS BG/TEXT COLORS ON HOVER

@mixin flip-button($color){
    background: $color;
    border-color: $color;
    color: $white !important;
    &:hover,
    &:focus {
        background: $white;
        color: $color !important;
    }
}


// STATES

.is-hidden {
	display: none;
}

.fullwidth { 
	width: 100%; 
}



// STANDARD ELEMENTS

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


	
hr {
	border: 0;
	height: 1px;
	background: $gray8;
	margin:2rem 0 4rem 0;
}


img, video, object { 
  max-width: 100% 
}
