// CONTAINERS 
// use Bourbon Neat grid


body {
	background: $gray9;
}

#content {
    padding-top: 20px;
}


.wrap {
	width: 96%;
	margin: 0 auto;
}

#inner-header,
#inner-content,
#inner-footer,
.section-inner,
.home-main {
    @include outer-container;
}



// sidebar
div[role='complementary'] {
	@include breakpoint(medium) {@include span-columns(4);}
}

// main
div[role='main'] {
    padding-bottom: 60px; 
	@include breakpoint(medium) {@include span-columns(12); }
    // single page template 
    .page-template-page-iframe-php & {
        @include span-columns(16); 
        padding: 0;
    }
}


.iframe-container {
    min-height: 800px;
    padding-top: 0 !important;
}


