// FOOTER

.footer {
    background: $gray8;
    .global {
        padding: 30px 0;
    }
}

.logo-NYCP {
    @include font-size(22);
    @extend %condensed;
    margin-right: 30px;
    white-space: nowrap;
    display: inline-block; 
    a, a:visited {
        color: $white;
    }
    span {
        display: inline-block;
        border: 2px solid $white;
        padding: 3px 5px;
        margin-left: 5px;   
        @include transition (border-color 0.25s ease);
    }
    a:hover {
        color: $text-color;
        span {
            border-color: $text-color;
        }
    }
}


.social-links {
    margin: 30px 0 0;
    li {
        @include font-size(20);
        display: inline-block;
        padding: 0;
        height: 32px;
        width: 32px;
        text-align: center;
        line-height: 32px;
        border-radius: 0;
        margin-right: 1px;
    }
    a {
        display: block;
    }
    .facebook a {@include flip-button($navy); @extend %entypo-social-facebook;}
    .twitter a {@include flip-button($blue); @extend %entypo-social-twitter;}
    .github a {@include flip-button($teal); @extend %entypo-social-github;}
    .email a {@include flip-button($green); @extend %entypo-mail;}
    .rss a {@include flip-button($orange); @extend %entypo-rss;}
}

.copyright {
    @include font-size(10);
    @extend %caps;
    background: $gray7;
    padding: 15px;
    clear: both;
    text-align: center;
	@include breakpoint(medium) {@include font-size(12);}
}



// footer widgets

.footer .widget {
    background: $white;   
	@include breakpoint(medium) {@include span-columns(4);}
	li {
    	@include font-size(16);
	}
	a {
    	color: $navy;
	}
}