// FOOTER

.footer {
    background: $gray8;
    .global {
        padding: 30px 0;
    }
}

.logo-NYCP {
    @include font-size(22);
    @extend %condensed;
    margin: 0 30px 0 0;
    white-space: nowrap;
    display: inline-block; 
	@include breakpoint(medium) {@include span-columns(3);}
    a, a:visited {
        color: $white;
    }
    span {
        display: inline-block;
        border: 2px solid $white;
        padding: 3px 5px;
        margin-left: 5px;   
        @include transition (border-color 0.25s ease);
    }
    a:hover,
    a:focus, 
    a:visited:hover {
        color: $text-color;
        span {
            border-color: $text-color;
        }
    }
}

.tagline-NYCP {
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 0;
	@include breakpoint(medium) {@include span-columns(8);}
}


.social-links {
    margin: 30px 0 0;
	@include breakpoint(medium) {@include span-columns(4); margin: 0;}
    li {
        @include font-size(42);
        display: inline-block;
        padding: 0;
        height: 32px;
        width: 32px;
        text-align: center;
        line-height: 32px;
        border-radius: 0;
        margin-right: 1px;
    }
    a {
        display: block;
    }
    .facebook a {@include flip-button($navy); @include font-icon-base($family:"entypo-social"); @extend %entypo-social-facebook;}
    .twitter a {@include flip-button($blue); @include font-icon-base($family:"entypo-social"); @extend %entypo-social-twitter;}
    .github a {@include flip-button($teal); @include font-icon-base($family:"entypo-social"); @extend %entypo-social-github;}
    .email a {@include flip-button($green); @include font-icon-base($family:"entypo"); @extend %entypo-mail;}
    .rss a {@include flip-button($orange); @include font-icon-base($family:"entypo"); @extend %entypo-rss;}
}

.copyright {
    @include font-size(10);
    @extend %caps;
    background: $gray7;
    padding: 15px;
    clear: both;
    text-align: center;
	@include breakpoint(medium) {@include font-size(12);}
}



// footer widgets

.footer .widget {
    background: $white;   
	@include breakpoint(small) {@include span-columns(4);}
    .widgettitle {
        display: none;
    }
	li {
    	@include font-size(16);
    	color: $text-color;
	}
	a, a:visited {
    	color: $teal;
	}
}

#nav_menu-5, 
#nav_menu-4, 
#nav_menu-3, 
#nav_menu-2 {
    li:first-child {@include font-size(32); @include font-icon-base($family:"entypo"); }
}

#nav_menu-5 li:first-child {@extend %ios7-sites;}
#nav_menu-4 li:first-child {@extend %ios7-book;}
#nav_menu-3 li:first-child {@extend %ios7-truck;}
#nav_menu-2 li:first-child {@extend %ios7-data;}

