
// FORMS

form {
    background: $gray8;
    padding: 40px;
}

fieldset {
    border: 0;
	padding: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type='email'] {
    padding: 5px;
}

input[type='submit'] {
    @include transition(all 0.2s ease-in-out);
    @extend %condensed;
    -webkit-appearance: button;
    cursor: pointer;
    border-radius: 5px;
    background: $gray2;
    color: $white;
    line-height: 1;
    margin: 0;
    padding: .5em 2em;
    &:hover {
        background: $white;
        color: $gray2;
    }
}


/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	padding-bottom: 2.2em;
	form {
		margin: 0.5em 0;
		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;
			label,
			small {
				display: none;
			}
		}
		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 4px 8px;
			background: $white;
			border: 1px solid $gray6;
			&:focus {
				border-color: $blue;
			}
			&:invalid {
				outline: none;
				border-color: $red;
				background-color: $gray0;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

/* comment submit button */
#submit {}

/* comment form title */
#comment-form-title {
	margin: 0 0 1.1em;
}

/* cancel comment reply link */
#cancel-comment-reply {
	a {}
}

/* logged in comments */
.comments-logged-in-as {}

/* allowed tags */
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
	margin: 0 20px 1.1em;
}

// all the input fields
#comment-form-elements {
    margin: 0;
}

// the wrapper paragraph for the textarea
#comment-form-elements + p {
    margin: 0 0 30px;
}


/******************************************************************
SEARCH FORM 
******************************************************************/

#searchform {
    float: right;
    padding: 27px 0 0;
    label {
        display: none;
    }
    #s {
        width: 170px;
        display: inline-block;
        @include font-size(16);
        height: 28px;
        line-height: 28px;
        padding: 2px 5px;
        text-transform: lowercase;
    }
    input[type='submit'] {
        @include font-size(16);
        height: 28px;
        width: 28px;
        line-height: 28px;
        padding: 0;
        margin-left: -4px;
        border: 1px solid $gray2;
    }
}
