// HEADER


#inner-header {
    border-bottom: 1px solid $gray6;
}

#logo {
    @include font-size(18);
    line-height: 1;
	float: left;
    margin: 0;
    white-space: nowrap;
    @include breakpoint(medium) {@include font-size(14);}
    a {
        display: block;
        color: $text-color;
        font-weight: 700;
        padding: 15px 10px 15px 0;
    }
}

.top-nav {
    position: absolute;
    right: 0;
    top: 0;
    @include breakpoint(medium) {position: static;}
	li {
        @include font-size(18);
        line-height: 1;
        @include breakpoint(medium) {@include font-size(14); display: inline-block;}
		a, 
		a:visited {
		    padding: 15px 10px;
            color: $text-color;
		}
        a:focus,
		a:hover {
    		color: $teal;
		}
	} 
}

// notched line mixin

@mixin notch($size, $border: $gray5, $fill: $gray9){
    position: relative;
    a:before,
    a:after {
        position: absolute;
        content: '';
        height: 0px;
        left: 50%;
        bottom: -1px;
        border-color: transparent;
    }
    a:before {
        border-bottom-color: $border;
        border-width: $size;
        margin-left: -$size;
    }
    a:after {
        border-bottom-color: $fill;
        border-width: $size - 1;
        margin-left: -$size + 1;
    }
}


// active item

li.current-menu-item,
li.current_page_item,
li.current-page-ancestor {
    @include notch(8px);
}

// hover state

.top-nav li:hover {
    @include notch(5px);
}

// disable hover for current page but not its ancestors

li.current-menu-item,
li.current_page_item {
    a:hover {
        color: $text-color;
        cursor: default;
    }
}