// HEADER


#inner-header {
    border-bottom: 1px solid $hr-color;
}

.domain-title {
    @include font-size(18);
    line-height: 1;
    display: none;
	float: left;
    margin: 0;
    white-space: nowrap;
    @include breakpoint(medium) {@include font-size(14); display: block;}
    a, a:visited {
        display: block;
        color: $text-color;
        font-weight: 700;
        padding: 15px 10px 15px 5px;
    }
}

// buttons to reveal full menus

.nav-anchors {
    margin: 0;
    li {
        display: inline-block;
        margin: 0;
    }
    li:last-child {
        float: right;
    }   
    a {
        display: block;
        padding: 10px;
        color: $white;
        @include font-icon-base($family:"ios7-icon"); 
    }
    .menu-anchor {
        @extend %ios7-down;
        @include font-size(16); 
        &:before {
            float: right;
            margin-left: 7px;
            margin-top: 2px;
        }
    }
    .search-anchor {
        @extend %ios7-search;
        @include font-size(22); 
    }
    @include breakpoint(medium) {display: none;}
}

		
// main nav
		
.nav-global {
    background: transparent;
    a {
        color: $text-color;
    }
    a:hover {
        color: $anchor-color;
    }
    .search-form {
        float: right;
    }
    .nav {
        position: absolute;
        left: 0;
        top: 54px;
        z-index: $layer4;
        background: $white;
        @include breakpoint(medium) {position: static; padding-right: 5px; background: transparent;}
    }
	.nav li {
        @include font-size(18);
        line-height: 1;
        @include breakpoint(medium) {@include font-size(14); display: inline-block;}
		a, 
		a:visited {
		    padding: 10px 20px;
            color: $text-color;
            @include breakpoint(medium) {padding: 15px 10px;}
		}
        a:focus,
		a:hover {
    		background: $text-color;
    		color: $white;
            @include breakpoint(medium) {background: transparent; color: $teal;}
		}
	}
	.nav li.current-menu-item, 
	.nav li.current_page_item, 
	.nav li.current-page-ancestor {
    	display: none;
        @include breakpoint(medium) {display: inline-block;}
	}
}

// site nav

.nav-local {
    background: $gray3;
    height: 44px;
    .search-form {
        float: right;
        margin: 0 5px;
    }
    .nav li {
        font-size: 100%;
        display: block;
        margin: 0;
        margin-right: -2px; // remove space caused by inline-block
        @include breakpoint(medium) {display: inline-block;}
        &.current-menu-item a {
            background: $anchor-color;
            color: $white;
        }
    }
    .nav li a {
        display: block;
        padding: 7px 15px;
        color: $anchor-color;
        text-transform: uppercase; 
        letter-spacing: $caps-spacing;
        @include breakpoint(medium) {color: $white;}
        &:hover {
            color: $text-color;
            @include breakpoint(medium) {background: $anchor-color; color: $white;}
        }
    }
    #searchform #searchsubmit {
        background: $anchor-color;
        border-color: $anchor-color;
    }
}


// body gets .js class on load, prep nav for responsive behavior 

.js .nav {
	overflow: hidden;
	max-height: 0;
    @include transition(max-height 0.2s ease-in-out);
    &.active {
    	max-height: 160px;
    	overflow: visible;
    	background: white;
    }
    @include breakpoint(medium) {max-height: none;}
}



// active item

li.current-menu-item,
li.current_page_item,
li.current-page-ancestor {
    @include notch(8px);
}


// disable hover for current page but not its ancestors

li.current-menu-item,
li.current_page_item {
    a:hover {
        color: $text-color;
        cursor: default;
    }
}