/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/



 
.nav {
    margin: 0;
	li {
        @extend %sans;
        margin: 0;
        white-space: nowrap;
		a {
			display: block;
			text-decoration: none;
		}
	} 
}



.top-nav {
	li {
        @include font-size(18);
        @include breakpoint(papa) {@include font-size(14); display: inline-block;}
		a {
		    padding: 15px 10px;
            color: $text-color;
		}
	} 

	// highlight current page 
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {
		
		}
	} 
}


#logo {
    @include font-size(18);
	float: left;
    margin: 0;
    padding: 15px 10px 15px 0;
    white-space: nowrap;
    @include breakpoint(papa) {@include font-size(14);}
    a {
        color: $text-color;
        font-weight: 700;
    }
}

// footer

.footer {
    background: $gray8;
}


.footer #logo {
    @include span-columns(4);
    @include breakpoint(baby) {@include fill-parent;}
}

.footer-nav {
    @include span-columns(8); 
    padding: 30px 0;
    margin: 0;
	@include breakpoint(baby) {@include fill-parent; padding: 0;}
	li {
        @include span-columns(2 of 8); 
        @include font-size(16);
        @extend %sans;
        font-weight: 700;
        padding: 0;
        @include breakpoint(baby) {@include font-size(14); width: 33%; margin: 0; }
    }
    .sub-menu {
    	@extend %clearfix;
    	li {
            @include font-size(14);
            font-weight: 300;
            float: none;
        }
    }
    a:hover {
        color: $blue;
    }
}

.footer-social {
    @include span-columns(4);
    white-space: nowrap;
    @include breakpoint(baby) {@include fill-parent; margin-top: 0;}
    a {
        padding: 0;
        height: 36px;
        width: 36px;
        text-align: center;
        line-height: 36px;
        border-radius: 0;
        margin-left: 3px;
    }
    i {
        margin: 0 !important;
    }
}



.copyright {
    @include font-size(10);
    @extend %caps;
    background: $gray7;
    padding: 15px;
    clear: both;
	@include breakpoint(papa) {@include font-size(12);}
}

