/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/



 
.nav {
    margin: 0;
	li {
        @extend %sans;
        margin: 0;
        white-space: nowrap;
		a {
			display: block;
			text-decoration: none;
		}
	} 
}



