// BASE STYLES
// variations are in _posts partial


// TYPEFACES
// if you're going to use webfonts, be sure to check your weights
// http://css-tricks.com/watch-your-font-weight/

$sans:        "Lato", Helvetica, Verdana, sans-serif;
$condensed:   "Oswald", "Arial Narrow", Arial, sans-serif;

%sans {
    font-family: $sans;
    font-weight: 300;
}

%condensed {
    font-family: $condensed;
    font-weight: 400;
    @extend %caps;
}

%caps {
	text-transform: uppercase;
	letter-spacing: 1px;
}

%small {
	font-size: 75%;
}

%icon {
    
}

[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
    font-style: normal;
}

[class*="entypo-social-"]:before {
    font-family: "entypo-social", sans-serif;
    font-style: normal;
}



// FONT SIZING
// http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/

@mixin font-size($size: 16){
  font-size: $size + px;
  font-size: $size / 16 + rem;
}


html {
    font-size: 100%; // 16px 
}

body {
    @include font-size(16);
    @extend %sans;
    line-height: 1.6;
    color: $text-color;
}




// HEADERS

h1, h2, h3, h4, h5, h6 {
    @extend %sans;
	line-height: 1.4;
	text-rendering: optimizelegibility;
	font-weight: 300;
    color: $headline-color;
	a {
		text-decoration: none;
	}
}

h1, %h1 {
    @include font-size(36);
	@include breakpoint(medium) {@include font-size(48);}
}

h2, %h2 {
    @include font-size(28);
	@include breakpoint(medium) {@include font-size(40);}
	margin-bottom: 0.375em;
}

h3, %h3 {
    @include font-size(23);
	@include breakpoint(medium) {@include font-size(30);}
    margin-bottom: 0.125em;
}

h4, %h4 {
    @include font-size(20);
	@include breakpoint(medium) {@include font-size(24);}
}

h5, %h5 {
    @include font-size(18);
    font-weight: bold;
}

h6, %h6 {
    @include font-size(15);
	@extend %caps;
}

p, %p {
    @include font-size(18);
	line-height: 1.8;
}

li, dt, dd {
    @include font-size(18);
    @extend %sans;
	line-height: 1.8;
	margin-bottom: 1em;
}

input, label, textarea {
    @include font-size(18);
    @extend %sans;
	line-height: 1.4;
	margin-bottom: .75em;
}

small {
    @include font-size(13);
    @extend %sans;
	line-height: 1.4;
}

b, strong {
  font-weight: 700;
}

i, em {
    font-style: italic;
}



ul, ol {
    margin: 0 0 2.4em;
    li {
        margin-bottom: .8em;
    }
}


blockquote {
    padding: 0 10% 0 0;
    margin: 1.4em 0;
    ol, ul {
        margin-bottom: 1.5em;
    }
    p, li {
    	@include font-size(23);
    	color: $gray5;
        font-style: italic;
    }
}

code,
kbd,
pre,
samp {
    font-family: 'Courier New', Courier, monospace;
	@include font-size(18);
}

pre {
    padding: 1em 1.5em;
    margin: 1.8em 0;
    display: block;
    background: $gray2;
    color: $white;
}


