// BASE STYLES
// variations are in _posts partial


// TYPEFACES
// if you're going to use webfonts, be sure to check your weights
// http://css-tricks.com/watch-your-font-weight/

$sans: "Lato", Helvetica, Verdana, sans-serif;
$mono: "Courier New", Courier, monospace;
$caps-spacing: 1px;


// FONT SIZING
// http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/

@mixin font-size($size: 16){
  font-size: $size + px;
  font-size: $size / 16 + rem;
}

html {
    line-height: 1.5;
    font-size: 80%;
	@include breakpoint(md) {font-size: 90%;}
	@include breakpoint(lg) {font-size: 100%;} // 16px
}

body {
    font-family: $sans;
    font-weight: 300;
    line-height: 1.5;
    color: $text-color;
}


// HEADERS

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizelegibility;
	font-weight: 300;
    color: $headline-color;
    margin-bottom: $space;
	a {
		text-decoration: none;
	}
}

h1, h2, h6, small {
    line-height: 1.2;
}
h3, h4, h5 {
    line-height: 1.3;
}


h1 {
    @include font-size($alpha);
}

h2 {
    @include font-size($beta);
}

h3 {
    @include font-size($gamma);
}

h4 {
    @include font-size($delta);
}

h5 {
    @include font-size($epsilon);
}

h6 {
    @include font-size($zeta);
	text-transform: uppercase;
	letter-spacing: $caps-spacing;
}


// OTHER

p, li, dt, dd {
    margin-bottom: $space;
    @include font-size($epsilon);
	@include breakpoint(lg) {max-width: 40em; line-height: 1.75;}
}


li {
	margin-bottom: $space-half;
}

input, label, select, textarea {
    @include font-size($epsilon);
	margin-bottom: .75em;
	font-family: $sans;
	font-weight: 300;
}

small, .milli {
    @include font-size(14);
}



b, strong {
  font-weight: 700;
}

i, em {
    font-style: italic;
}



ul, ol {
    margin: 0 0 $space;
    ul, ol {
        margin: $space-half 0 $space;
    }
}


blockquote {
    padding: 0 10% 0 0;
    margin: $space 0;
    p, li {
    	color: $base5;
        font-style: italic;
    }
}

code,
kbd,
pre,
samp {
    font-family: $mono;
    @include font-size($epsilon);
}

pre {
    padding: 1em $space;
    margin: $space 0;
    display: block;
    background: $base2;
    color: $white;
}


// CUSTOM PAGES

.home-intro h1 {
    margin: 0;
}

