// ios7

%ios7-book:before{ content:'#61854'; }
%ios7-data:before{ content:'#61753'; }
%ios7-search:before{ content:'#61788'; }
%ios7-sites:before{ content:'#61875'; }
%ios7-store:before{ content:'#61772'; }
%ios7-truck:before{ content:'#61894'; }

