// NYCP FOOTER

.logo-NYCP {
    @include font-size($epsilon);
    text-transform: uppercase; 
        letter-spacing: $tracking;
    font-weight: 700;
    white-space: nowrap;
    display: inline-block; 
    margin-right: 20px;
    color: $white;
    span {
        display: inline-block;
        border: 3px solid $white;
        padding: 3px 5px;
        margin-left: 5px;   
        @include transition (border-color 0.25s ease);
    }
    &:visited {
        color: $white;
    }
    &:hover,
    &:focus, 
    &:visited:hover {
        color: $text-color;
        span {
            border-color: $text-color;
        }
    }
}

.tagline-NYCP {
    @include font-size(13);
	text-transform: uppercase;
	letter-spacing: $tracking;
    vertical-align: middle;
    white-space: nowrap;
    color: $base5;
}



#nav_menu-5, 
#nav_menu-4, 
#nav_menu-3, 
#nav_menu-2 {
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
    .widgettitle {
        display: none;
    }
    ul {
        border-top: 0;
    }
    a:hover {
        color: $text-color;
    }
    li:first-child {
        @include font-size(28); 
        @include font-icon-base($family:"ios7-icon", $margin: 10px, $color: $teal); 
        padding-top: 0;
        &:before {
            @include transition (color 0.25s ease);
        }
        &:hover a,
        &:hover:before {
            color: $text-color;
        }
        a {
            display: inline-block;
        }
        a:hover {
            padding: 0.5em 20px 0.5em 0;
            background: transparent;
            color: $text-color;
        }
    }
}

#nav_menu-5 li:first-child {@extend %ios7-sites;}
#nav_menu-4 li:first-child {@extend %ios7-book;}
#nav_menu-2 li:first-child {@extend %ios7-data;}
#nav_menu-3 li:first-child {@extend %ios7-truck; &:before {position: relative; top: -5px;}}


