// useful variables for this section

$pad-home: 40px;


// HOME PAGE

.home {
    #content {
        padding-top: 0;
    }
    .article-header {
        display: none;
    }   
    h1, h2 {
        text-align: center;
    }
}

// rainbow buttons
@mixin rainbow-button($color){
    a,
    a:visited {
        background: $color;
        border: 3px solid $color;
        color: $white;
    }
    a:hover,
    a:focus {
        background: $white;
        color: $color;
    }
}

// calls to action (top and bottom)

.home-actions {
    list-style: none;
    li {
        @include font-size(20);
        line-height: 1.2;
        white-space: nowrap;
    }
    a {
        display: block;
        padding: 18px 36px;
        @extend %condensed;
        text-decoration: none;
        text-align: center;
    }
    li:nth-child(4n+1) {  
        @include rainbow-button($green);
    }
    li:nth-child(4n+2) {  
        @include rainbow-button($teal);
    }
    li:nth-child(4n+3) {  
        @include rainbow-button($blue);
    }
    li:nth-child(4n+4) {  
        @include rainbow-button($navy);
    }
}

.home-exit {
    @include fill-parent; 
    text-align: center;
    padding: $pad-home 0;
    .home-actions {
        margin: 0;
        li {
            display: inline-block;
            margin: 5px;
        }
    }
}


.home-intro {
    @include fill-parent; 
    background: $gray2 url('../images/nycp/bridge-large.jpg') no-repeat center center;
    background-size: cover;
    h1 {
        color: $white;
        margin: 1.2em 0;
        text-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    }
    .home-actions {
        @include span-columns(4); 
    	@include breakpoint(mama) {
            @include span-columns(6); 
        }
    	@include breakpoint(baby) {
            @include span-columns(14);
            @include shift(1);
        }
    }
}

.home-value {
    @include fill-parent; 
    padding-bottom: 40px;
    .wp-caption {
        background: transparent;
        img {
            border: 5px solid $white;
        }
        p.wp-caption-text {
            @include font-size(18);
            line-height: 1.6;
            text-align: left;
            padding: 5px;
        }
    }
}

.value-problem {
    @include span-columns(6 of 16);
    @include shift(1);
	@include breakpoint(baby) {
        @include span-columns(14 of 16);
    }
}
.value-solution {
    @include span-columns(6 of 16);
    @include shift(2);
	@include breakpoint(baby) {
        @include span-columns(14 of 16);
        @include shift(1);
    }
}

.home-advantage {
    @include fill-parent; 
    h2, p {
        @include span-columns(12 of 16);
        @include shift(2); 
    }
    .size-full {
        width: 100%;
        max-height: 430px;
        overflow: hidden;
    }
    img {
        clear: both;
        width: 100%;
        height: auto;
    }
}

.home-tools,
.home-community,
.home-services {
    @include fill-parent; 
    padding-bottom: $pad-home;
    color: $white;
    .promo-intro {
        @include span-columns(12 of 16);
        @include shift(2); 
    	@include breakpoint(baby) {
            @include span-columns(14 of 16);
        	@include shift(1); 
    	}
    }
    h2, p {
        color: $white;
    }
}

.home-tools {
    background: $blue;
}
.home-community {
    background: $navy;
}
.home-services {
    background: $gray2;
}

// lists of tools and services 
.tools-promo,
.services-promo {
    @include fill-parent; 
    text-align: center;
    padding-top: $pad-home / 2;
    .wp-caption {
        display: inline-block;
        margin: 0 5px 10px;
        img {
            width: auto;
            border: 5px solid $white;
        }
        p {
            color: $gray2;
        }
    }
    .wp-caption + br {
        display: none; // hide unintentional line breaks created by Wordpress
    }
}
.tools-promo .wp-caption {
    width: 235px;
    height: 285px;
    
}
.services-promo .wp-caption {
    width: 153px !important;
    height: 153px !important;
    padding-top: 10px;
	@include breakpoint(baby) {
        width: 130px !important;
        p {
            @include font-size(14);
        } 
	}
}

// community images
.community-promo {
    margin-top: 20px;
    img {
        border: 5px solid white;
        width: 30%;
        height: auto;
        margin-right: 3%;
        margin-top: 20px;
    }
	@include breakpoint(baby) {
    	img {
            @include span-columns(14 of 16);
        	@include shift(1); 
        	margin-right: 0;
    	}
	}
}

